# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment variables
redis.conf
.env
/client/.env
/client/.env.production
/server/.env
/.vscode

# Build files
/dist
/client/dist
/data