/* src/pages/RegisterPage/RegisterPage.css */

.form-row {
  display: flex;
  gap: 20px; /* Tạo khoảng cách giữa 2 ô input */
  width: 100%;
}

.form-row .input-group {
  flex: 1; /* Giúp 2 ô input chia đều chiều rộng */
}

.extra-link {
  font-size: 14px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 30px;
}

.extra-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.logo-register {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 20px 0 5px 0;
}
