.newsletterSection {
  padding: 80px 0;
  background-color: #f8f8f8;
  overflow: hidden;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.content {
  background-color: white;
  padding: 60px;
  border-radius: 12px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 10;
}
.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.description {
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
}
.subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 30px;
}
.emailInput:focus {
  outline: none;
  border-bottom-color: #111;
}
.subscribeButton {
  padding: 15px 45px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.subscribeButton:hover {
  background-color: #333;
}
.modelImage {
  max-width: 300px;
  height: auto;
  align-self: flex-end; /* Căn chỉnh ảnh ở dưới cùng */
}
.successMessage {
  margin-top: 15px;
  color: green;
  font-size: 0.9rem;
}
