.selectorContainer {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  width: fit-content;
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #666;
  transition: background-color 0.2s ease;
}

.button:hover:not(:disabled) {
  background-color: #f5f5f5;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.input {
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  font-size: 16px;
  font-weight: 500;
  color: #111;
  /* Tắt mũi tên mặc định của input type="number" */
  /* For Firefox */
  -moz-appearance: textfield;

  /* For Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;

  /* Standard property (for future compatibility) */
  appearance: none;
  margin: 0; /* Add this to fix a small rendering bug in some browsers */
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}