name: Deploy mini-ecommerce frontend

on:
  push:
    branches: [main, develop]
    paths:
      - "client/**"

  pull_request:
    branches: [main, develop]
    types: [closed]
    paths:
      - "client/**"

jobs:
  deploy:
    if: |
      github.event_name == 'push'
      || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./client
          file: ./client/Dockerfile
          push: true
          build-args: |
            VITE_API_BASE_URL=https://api-miniecommerce.up.railway.app/api/v1
          tags: |
            taihb2005/mini-ecommerce-client:latest
            taihb2005/mini-ecommerce-client:${{ github.sha }}

      - name: Redeploy
        run: |
          curl -X POST https://backboard.railway.app/graphql/v2 \
            -H "Authorization: Bearer ${{ secrets.RAILWAY_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{
              "query": "mutation serviceInstanceRedeploy($environmentId: String!, $serviceId: String!) { serviceInstanceRedeploy(environmentId: $environmentId, serviceId: $serviceId) }",
              "variables": {
                "environmentId": "${{ secrets.RAILWAY_CLIENT_ENV_ID }}",
                "serviceId": "${{ secrets.RAILWAY_CLIENT_SERVICE_ID }}"
              }
            }'
